<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemPrices">
            <h2><span jhiTranslate="cardoholicApp.itemPrices.detail.title">Item Prices</span> {{ itemPrices.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cardoholicApp.itemPrices.price">Price</span></dt>
                <dd>
                    <span>{{ itemPrices.price }}</span>
                </dd>
                <dt><span jhiTranslate="cardoholicApp.itemPrices.levels">Levels</span></dt>
                <dd>
                    <div *ngIf="itemPrices.levelsId">
                        <a [routerLink]="['/levels', itemPrices.levelsId, 'view']">{{ itemPrices.levelsId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-prices', itemPrices.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
