<div>
    <h2 id="page-heading">
        <span jhiTranslate="cardoholicApp.itemCodes.home.title">Item Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-codes" [routerLink]="['/item-codes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="cardoholicApp.itemCodes.home.createLabel">
            Create a new Item Codes
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="itemCodes?.length === 0">
        <span jhiTranslate="cardoholicApp.itemCodes.home.notFound">No itemCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="itemCodes && itemCodes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="cardoholicApp.itemCodes.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="cardoholicApp.itemCodes.items">Items</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let itemCodes of itemCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/item-codes', itemCodes.id, 'view']">{{ itemCodes.id }}</a></td>
                    <td>{{ itemCodes.code }}</td>
                    <td>
                        <div *ngIf="itemCodes.items">
                            <a [routerLink]="['/items', itemCodes.items?.id, 'view']" >{{ itemCodes.items?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/item-codes', itemCodes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/item-codes', itemCodes.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(itemCodes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
