<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="levels">
            <h2><span jhiTranslate="cardoholicApp.levels.detail.title">Levels</span> {{ levels.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cardoholicApp.levels.title">Title</span></dt>
                <dd>
                    <span>{{ levels.title }}</span>
                </dd>
                <dt><span jhiTranslate="cardoholicApp.levels.color">Color</span></dt>
                <dd>
                    <span>{{ levels.color }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/levels', levels.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
